<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/71352cf5-4963-4690-aae0-b9ca18966061/resourceGroups/Cms-24/providers/Microsoft.Web/sites/AccountServiceProvider</ResourceId>
    <ResourceGroup>Cms-24</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://accountserviceprovider-g5gnanhufngbezgt.swedencentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>71e88464-f09d-40b3-ae2d-3cd0e120cde6</ProjectGuid>
    <PublishUrl>https://accountserviceprovider-g5gnanhufngbezgt.scm.swedencentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>